
.title-filter,  .titleFilter {
    display: flex; align-items: center;
    justify-content: space-between;
    margin-bottom: .75rem;
}
.commentRow {
    background: #eee; padding:1rem 1rem .25rem 1rem;
    margin-bottom: 1rem;
}
.commentList {
    margin-bottom: .25rem;
}

.filter {

}