.footer {
    background:#B8B4AE; padding:10px 15px;
    margin-top: 30px; text-align: center;
    font-size: 20px;
}
.footer li {
    margin-right: 15px; display: inline-block;
    list-style-type: none;
}
.footer a {
    color:#000;
}
.footer a.active, .footer a:hover {
    color:green;
}