html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html body {
  font-size: 16px;
}

img {
  max-width: 100%;
}
.pointer {
  cursor: pointer;
}
.invalid {
  border-color: red !important;
}

/**/

.form-group {
  margin-bottom: 1rem;
}


/*  */

.grid {
  display: flex; flex-wrap: wrap;
}
.grid > li {
  padding: 7.5px;
}
.grid-5 li {
  width: 20%;
}

.grid {
  padding-left: 0;  list-style: none;
}

.grid li {
  margin-right: 0;
}
.blogItem {
  box-shadow: 0 0 5px #aaa; margin-bottom: 1.25rem;
}
.blogItem h3 {
  font-size: 1rem; text-transform: capitalize;
}
.blog-content {
  padding: .75rem;
}
.blog-content p{
  margin-bottom: .25rem;
}
.blog-title {
  min-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog-title a {
  color: #000; 
}
.blog-title a:hover {
  color: green; 
}


.modal-backdrop {
  z-index: 0;
}


@media all and (max-width:992px) {

  .grid-5 li {
    width: 33.33%;
  }

}

@media all and (max-width:767px) {

  .grid-5 li {
    width: 50%;
  }
  
}

