
.header {
    background:#B8B4AE; padding-top: 5px;
    margin-bottom: 1rem; position: sticky;
    left:0; top: 0; z-index: 5;
}
.header a, .header span {
    display: inline-block;  margin-right: 15px;
    line-height: 50px; vertical-align: middle;
    color: #000;
} 
.header a {
    cursor: pointer;
}
.header a:hover, .active {
    color:green;
}
.logo {
    float: left;
}
.header a img {
    display: block;
}

.positionGroup {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding-top: .5rem;
    padding-right: 0;
    padding-bottom: .25rem;
    padding-left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.fCol1 {

}
.sCol2 {

}

.header ul {
    list-style: none;
}
.header li {
    display: inline-block;
}


@media all and (max-width:767px) {

    .header a, .header span { 
        line-height: 24px;
    }
    .logo img {
        max-height: 32px;
    }

}